.collapse{
	margin-top: 15px;
}
.navbar-brand{
	background-color: #a2101d;
	margin-top: 15px;
	padding-left: 100px;

}
.navbar-default .navbar-brand{
	color: #ffffff;
}
.navbar-nav{
	background-color: #f11821;
}
.nav-login-bg{
	background-color: #8ec23c;
}

.navbar-default .navbar-nav>li>a{
	color: #ffffff;
}
.nav-donation-bg{
	background-color: #ffcc00;
}
.nav-donation-bg a{
	color: #ca0135;
}
.nav-logo{
	position:relative;
	left: 90px;
	width: 80px;
	float:left;
	margin-right: 15px;
}
