.navbar-default {
    background-color: #a2101d;
}
.navbar {
    font-size: 0.9em;
}
h2 {
    color: #666;
    font-family: "trebuchet ms",sans-serif;
    font-size: 52px;
    margin: 0;
    padding-top: 90px;
}
.item {
    background: none repeat scroll 0 0 #ffffff;
    height: 300px !important;
    text-align: center;
}
.carousel {
    margin-top: 20px;
}
.nav-logo-bg {
    background-color: #a2101d;
    font-size: 0.9em;
}
.nav-logo {
    float: left;
    position: relative;
    top: -15px;
    width: 50px;
}
.nav-logo-bg > span {
    color: #ffffff;
    padding-left: 10px;
}
.nav-logo-bg:hover > span {
    color: #a2101d;
}
.nav-text {
    color: #ffffff;
}
.nav-middle:hover .nav-text {
    color: #f11821;
}
.nav-donation-text {
    color: #f11821;
}
.nav-middle {
    background-color: #f11821;
}
.nav-middle:hover, .nav-login:hover, .nav-donation:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.nav-login {
    background-color: #8ec23c;
}
.nav-login:hover .nav-text {
    color: #f11821;
}
.nav-donation {
    background-color: #ffcc00;
}
.home-news {
    background-color: #ffffff;
}
.footer-text {
    color: #ffffff;
}
.footer-bg {
    background-color: #a2101d;
}
