    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" style="height: 480px">
        <div class="item active">
          <img src="img\carousel1.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>學界優山美地露營之旅.</h1>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Join Now</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img\carousel2.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>GuanYing Wannabe</h1>            
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Like</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img\carousel3.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Youth Power</h1>              
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Like</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img\carousel4.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Wash your feet in your drinking water is COOL</h1>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img\carousel5.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Yummy Breakfast</h1>            
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Order Now</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>