<div class="row-bg">

    <div class="col-sm-2 col-md-2 col-lg-2"></div>
	<div class="col-sm-8 col-md-8 col-lg-8">
  		<div class="footer-text text-center">1990-2014 發一崇德光慧文教基金會</div>
	</div>
	<div class="col-sm-2 col-md-2 col-lg-2"></div>
</div>