 <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <img class="nav-logo"src="img\logo.png">
         <a class="navbar-brand" href="index.html">發一崇德光慧文教基金會</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">關於我們</a></li>
            <li><a href="index.html#about">活動花絮</a></li>
            <li><a href="index.html#contact">會議記錄</a></li>
            <li><a href="index.html#contact">進修天地</a></li>
            <li><a href="index.html#contact">E藏金閣</a></li>
            <li><a href="index.html#contact">素食廣場</a></li>
            <li><a href="index.html#contact">聯絡我們</a></li>
            <li class="nav-login-bg"><a href="index.html#contact">登入</a></li>
            <li class="nav-donation-bg"><a href="index.html#contact">善款捐獻</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>