    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand nav-logo-bg" href="#">
            <img class="nav-logo" src="img/logo.png" />
            <span>發一崇德舊金山光慧文教基金會</span>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="nav-middle"><a href="#"><span class="nav-text">關於我們</span></a></li>
            <li class="nav-middle"><a href="#about"><span class="nav-text">活動花絮</span></a></li>
            <li class="nav-middle"><a href="#contact"><span class="nav-text">會議記錄</span></a></li>
            <li class="nav-middle"><a href="#contact"><span class="nav-text">進修天地</span></a></li>
            <li class="nav-middle"><a href="#contact"><span class="nav-text">E藏經閣</span></a></li>
            <li class="nav-middle"><a href="#contact"><span class="nav-text">素食廣場</span></a></li>
            <li class="nav-middle"><a href="#contact"><span class="nav-text">聯絡我們</span></a></li>

            <li class="nav-login"><a href="#contact"><span class="nav-text">登入</span></a></li>
            <li class="nav-donation"><a href="#contact"><span class="nav-donation-text">善款捐獻</span></a></li>

            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top</a></li>
          </ul> -->
        </div><!--/.nav-collapse -->
      </div>
    </div>
